* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

nav {
    align-items: center;
    padding: 35px 70px;
    display: flex;
    justify-content:center;
}

nav ul:nth-child(1) {
    font-size: 1.5em;
    color: rebeccapurple;
}

main {
    height: 135vh;
}

.container-1 {
    gap: 18px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-1 h1 {
	overflow-wrap: break-word;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    font-size: 4em;
}

.container-1 p {
	overflow-wrap: break-word;
    text-align: center;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

span {
    color: rebeccapurple;
}

a:hover {
    color: mediumpurple;
}

a {
    color: white;
    text-decoration: none;
}

.container-1 button {
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    padding: 15px 75px;
    color: white;
    background-color: rebeccapurple;
}

section {
    display: flex;
    justify-content: center;
    height: 80vh;
    background-color: #262626;
}

section img {
    position: absolute;
    top: 89%;
    border-radius: 23px;
    width: 1155px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-1 button:hover {
    background-color: mediumpurple;
}

.cred {
    font-size: 0.8rem;
    text-align: center;
    color: white;
    padding-top: 415px;
}

@media (max-width: 750px) {
    main {
        height: 75vh;
    }

    section {
        height: 35vh;
    }

    .cred {
        padding-top: 155px;
    }

    .container-1 h1 {
    	
    	font-size: 2.6rem;
        line-height: 35px;
    }
    .container-1 p {
        white-space: break-spaces;
    	  font-size: 1rem;
    }

    nav ul:nth-child(1) {
        font-size: 1rem;
        color: rebeccapurple;
    }

    section img {
        top: 75%;
    	border-radius: 6px;
        width: 335px;
    }

 
}
