/* Importar a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Reset de estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo do documento */
body {
    font-family: "Open Sans", sans-serif;
}

/* Estilos para cabeçalhos */
h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

/* Estilos da barra de navegação */
nav {
    align-items: center;
    padding: 35px 70px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: inline-block;
    list-style: none;
}
nav ul:nth-child(1) {
    font-size: 1.5em;
    color: rebeccapurple;
}

/* Estilos da seção principal */
main {
    background: linear-gradient(175deg, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 33%, rgba(87,77,198,1) 155%);
    height: 135vh;
}

/* Estilos do contêiner 1 */
.container-1 {
    gap: 18px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-1 h1 {
    font-family: "Poppins", sans-serif;
    color: #161a42;
    overflow-wrap: break-word;
    line-height: 60px;
    font-weight: 900;
    text-align: center;
    font-size: 4em;
}

.container-1 p {
    overflow-wrap: break-word;
    text-align: center;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

/* Estilos para o texto com gradiente */
span {
    background: linear-gradient(45deg, #8E43AD, #2980B9);
    -webkit-background-clip: text;
    color: transparent;
}

/* Estilos para links */
a:hover {
    color: mediumpurple;
}

a {
    color: white;
    text-decoration: none;
}

/* Estilos para o botão no contêiner 1 */
.container-1 button {
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    padding: 15px 75px;
    color: white;
    background-color: rebeccapurple;
}

/* Estilos para a seção */
section {
    display: flex;
    justify-content: center;
    height: 80vh;
    background-color: #262626;
}

/* Estilos para imagens na seção */
section img {
    position: absolute;
    top: 89%;
    border-radius: 23px;
    width: 100%; /* Ajusta a largura para ocupar 100% do contêiner */
    max-width: 1155px; /* Limita a largura máxima da imagem */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Estilos para o botão no hover */
.container-1 button:hover {
    background-color: mediumpurple;
}

/* Estilos para a classe "cred" */
.cred {
    font-size: 0.8rem;
    text-align: center;
    color: white;
    padding-top: 415px;
}

/* Estilos para imagens em listas não ordenadas */
ul img {
    height: 40px;
    border-radius: 6px;
    width: 40px;
}

/* Estilos para dispositivos com largura máxima de 750px */
@media (max-width: 750px) {
    main {
        height: 75vh;
    }

    section {
        height: 35vh;
    }

    .cred {
        padding-top: 155px;
    }

    /* Estilos para o título dentro da classe "container-1" */
    .container-1 h1 {
        font-size: 2.5rem;
        line-height: 35px;
    }

    /* Estilos para parágrafos dentro da classe "container-1" */
    .container-1 p {
        white-space: break-spaces;
        font-size: 0.6rem;
    }

    /* Estilos para a primeira lista não ordenada dentro da tag "nav" */
    nav ul:nth-child(1) {
        font-size: 1rem;
        color: rebeccapurple;
    }

    /* Estilos para imagens dentro da seção, quando a largura é menor que 750px */
    section img {
        top: 75%;
        border-radius: 6px;
        width: 100%; /* Ajusta a largura para ocupar 100% do contêiner */
        max-width: 335px; /* Limita a largura máxima da imagem */
    }

    /* Estilos para a classe "container-1" quando a largura é menor que 750px */
    .container-1 {
        height: 55vh;
    }
}
