     body {

     	background: rgb(255,255,255);
background: linear-gradient(146deg, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 33%, rgba(87,77,198,1) 155%);
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
         box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 6px;
            background-color: #fff;
        }
         .copia {
         	transition: 0.3s;
         	margin: 0;
         	padding: 0;
           box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            max-width:180px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }
        .copia:hover {
        	color: white;
        	background-color: rebeccapurple;
        }

        h1,
        p,
        h4 {
        	
            text-align: center;
        }
        p {
        	margin: 9px;
        }
        .input-group {
        	gap: 15px;
            display: flex;
            margin-bottom: 15px;
        }

        .input-group input[type="text"],
        .input-group select {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .input-group button {
            transition: 500ms linear;
            transition: 0.2s;
             padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: rebeccapurple;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

        #resultado {

            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .copiar {

        	padding: 0;
        	margin: 0;
        }
        .input-group button:hover {

            background-color: mediumpurple;
        }
        @media (max-width: 750px) {
            .input-group {
                flex-direction: column;
            }
            .container {
                margin: 23px;
            }
        }

